[Unit]
Description=Retrieve the secret from Jenkins master
AssertPathExists=/etc/build_environment
Requires=suffix-gen.service
After=suffix-gen.service
Requires=register-worker.service
After=register-worker.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/build_environment
ExecStart=/bin/sh -c 'curl -L -s -X GET $JENKINS_URL/computer/$JENKINS_PREFIX-$SUFFIX/slave-agent.jnlp | sed \'s/.*<application-desc main-class=\\"hudson.remoting.jnlp.Main\\"><argument>\([a-z0-9]*\).*/\1/\' | awk \'{print \"SECRET=\"$0}\' >> /etc/build_environment'

[Install]
WantedBy=multi-user.target
